<div class="margin">
    <h5>Breakfast</h5>
    <hr>
    <app-autocomplete (totalCalorieChange)="updateNutrients($event)"></app-autocomplete>
</div>
<div class="margin">
    <h5>Lunch</h5>
    <hr>
    <app-autocomplete (totalCalorieChange)="updateNutrients($event)"></app-autocomplete>
</div>
<div class="margin">
    <h5>Dinner</h5>
    <hr>
    <app-autocomplete (totalCalorieChange)="updateNutrients($event)"></app-autocomplete>
</div>
<div class="margin" style="margin-bottom: 3rem;" *ngIf="total_fat != 0 || total_carbohydrate != 0 || total_protein != 0">
    <h5>Total</h5>
    <hr>
    <p-chart type="pie" width="300" height="300" [data]="chartData"></p-chart>
</div>